#logo {
  width: 15%;
}

a {
  color: #01bb53 !important;
}

#navbarbrand {
  margin-left: 20%;
  font-size: 22pt;
  font-weight: bold;
}

#navjust {
  margin-left: 25%;
  font-size: 18pt;
}

#navitem1 {
  margin-right: 30%;
}
