.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}
.Youtube {
  padding-top: 50px;
  width: 100%;
}
.Board {
  padding-top: 50px;
}
.Table {
  border: 2px 2px solid black;
  width: 80%;
}
.player {
  width: 100%;
}
@media screen and (max-width: 640px) {
  .Board {
    margin-left: 50px;
  }
}
.picture1 {
  width: 50%;
}
td {
  padding-left: 80px;
  padding-right: 80px;
}
.button {
  margin-top: 6%;
  margin-left: 80%;
}
