.Youtube {
  padding-top: 50px;
  width: 100%;
}
.Board {
  padding-top: 22vh;
  padding-bottom: 22vh;
}
.Table {
  border: 2px 2px solid black;
  width: 80%;
}
.player {
  width: 100%;
}
@media screen and (max-width: 640px) {
  .Board {
    margin-left: 50px;
  }
}
.picture1 {
  width: 20%;
}
td {
  padding-left: 80px;
  padding-right: 80px;
}
.button {
  margin-top: 6%;
  margin-left: 80%;
}
.validation {
  margin-left: 60px;
}
