.youtube {
  margin-top: 20px;
  padding-top: 150px;
  width: 40%;
}
.table {
  border: 2px 2px solid black;
  margin-bottom: 20px;
}
@media screen and (max-width: 640px) {
  .Board {
    margin-left: 50px;
  }
}
.picture1 {
  width: 20%;
}

button {
  padding-left: 20px;
  padding-top: 100px;
}
@media screen and (max-width: 640px) {
  .Board {
    margin-left: 50px;
  }
}

.picture1 {
  width: 15%;
}
.picture2 {
  width: 8%;
}
